* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Below line need to be commented after development state */
    /* border: 1px solid black; */

}

:root {
    --purple-color: rgb(173, 123, 233);
    --navy-color: rgb(62, 84, 172);
    --blue-color: rgb(191, 220, 229);
    --grey-color: rgb(238, 238, 238);
}

.full-screen-size {
    width: 100vw;
    height: 100vh;
}

.parent-size {
    width: 100%;
    height: 100%;
}

.introduce {
    background-color: var(--purple-color);
    color: var(--navy-color);
}