/* Prevent suprise margin and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Declare variable */
:root {
    /* Light Scheme */
    --purple-color: rgb(173, 123, 233);
    --navy-color: rgb(62, 84, 172);
    --blue-color: rgb(191, 220, 229);
    --grey-color: rgb(238, 238, 238);
    /* Dark Scheme */
    --black-color: rgb(46, 7, 63);
    --darkpurple-color: rgb(122, 28, 172);
    --lightpurple-color: rgb(173, 73, 225);
    --shinepurple-color: rgb(235, 211, 248);
}

/* ELEMENT FIELD_____________________________________________START*/

body {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

/* ELEMENT FIELD_____________________________________________END*/

/* THEME FIELD_______________________________________________START*/

/* This class contains basic theme for normal block */
.container {
    display: grid;
    grid-template: 1;
    align-items: center;
    justify-content: center;
}

.hello-container {
    background-color: var(--blue-color);
    color: var(--navy-color);
}

/* THEME FIELD_______________________________________________END*/

/* FEATURE FIELD_____________________________________________START*/

/* This class makes a div have full screen size when it's parent is body*/
.full-screen {
    width: 100%;
    height: 100vh;
}

/* FEATURE FIELD_____________________________________________END*/


/* MEDIA FIELD_______________________________________________START*/

@media (prefers-color-scheme: light) {
    .hello-container {
        background-color: var(--blue-color);
        color: var(--navy-color);
    }
}

@media (prefers-color-scheme: dark) {
    .hello-container {
        background-color: var(--black-color);
        color: var(--shinepurple-color);
    }
}

/* MEDIA FIELD_______________________________________________END*/